.container {
    margin-right: 24px;
    margin-bottom: 100px;
    max-width: 800px;
    font-size: 14px;
}

.container h1 {
    color: var(--colors-grey900);
    font-size: 24px;
    font-weight: 500;
}

.container h2 {
    color: var(--colors-grey900);
    font-size: 16px;
    margin: 20px 0 8px;
}

.container p {
    line-height: 20px;
    margin: 6px 0 12px;
}

.container table {
    border-collapse: collapse;
    margin: 20px 0;
}

.container caption {
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    margin-left: 9px;
    margin-bottom: 8px;
}

.container caption p {
    font-weight: normal;
    margin-bottom: 4px;
}

.container th {
    font-weight: 500;
    text-align: left;
    min-width: 150px;
}

.container th,
.container td {
    border: 1px solid var(--colors-grey300);
    padding: 4px 8px;
    vertical-align: top;
}
