.orgUnit {
  position: relative;
}

.orgUnit h1 svg {
  margin-bottom: -3px;
}

.tabContent {
  position: relative;
  margin-top: 16px;
}

.message {
  color: #555;
  font-size: 14px;
  font-style: italic;
}

.loader {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
