.container {
  margin: 0 0 1rem 0;
}

.pickers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pickers > div {
  width: 45%;
}

.pickers input {
  height: 36px;
}

.pickers > button {
  margin-top: 21px;
}

.warning {
  font-size: 14px;
  color: red;
  flex-shrink: 1;
}
