.container {
  line-height: 30px;
  font-size: 14px;
  font-style: italic;
  color: #555;
  box-sizing: content-box;
}

.loader > div:first-child {
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
}
