.container {
  padding: 20px 0;
  line-height: 20px;
  font-size: 14px;
  font-style: italic;
  color: #555;
}

.loader > div:first-child {
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
}
