.container {
    margin-block-end: 8px;
}

.header {
    font-size: 16px;
    padding: var(--spacers-dp8) 0;
    margin: 0 0 var(--spacers-dp8) 0;
    display: inline;
}

.number {
    background-color: #e8edf2;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-inline-end: 8px;
    font-size: 14px;
}
