.container {
    margin-block-end: var(--spacers-dp12);
}

.header {
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    display: inline;
}

.number {
    background-color: var(--colors-grey300);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-inline-end: 8px;
    font-size: 14px;
}
