.page {
    margin-bottom: 30px;
    inline-size: 800px;
}

.page h1 {
    color: var(--colors-grey900);
    font-size: 24px;
    font-weight: 500;
    margin-inline-start: 16px;
}

.page p {
    font-size: 14px;
    margin: 6px 0 12px;
}

.container {
    padding-block-end: 20px;
    padding-inline: 20px;
    padding-block-start: 0;
    background-color: #fff;
    border: 1px solid #ccc;
}

.import {
    margin: 20px 0;
    min-height: 80px;
}

.column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
}

.card {
    flex: 2 1 20em;
}

.instructions {
    flex: 1 2 20em;
}

.warning {
    color: red;
    font-size: 14px;
    margin-top: 6px;
}

.capitalize {
    text-transform: capitalize;
}

.formContainer {
    padding: var(--spacers-dp16) var(--spacers-dp12);
    background-color: var(--colors-grey050);
    margin-block-end: var(--spacers-dp16);
}
