.container {
    margin: 0 0 1rem 0;
}

.pickers {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 16px;
    margin-block-end: var(--spacers-dp16);
}

.periodError {
    color: #bb470d;
    font-weight: bold;
    margin-block-end: var(--spacers-dp8);
}

.divider {
    display: flex;
    align-items: center;
    gap: var(--spacers-dp8);
    margin-inline-start: var(--spacers-dp8);
    margin-block-start: var(--spacers-dp12);
}

.divider svg {
    flex-shrink: 0;
}

.divider p {
    margin: 0;
    line-height: 16px;
    padding-top: 0;
}
