.container {
    margin: 0 0 1rem 0;
}

.pickers {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 16px;
    margin-block-end: var(--spacers-dp16);
}

.pickers > div {
    width: 45%;
}

.periodError {
    color: #bb470d;
    font-weight: bold;
    margin-block-end: var(--spacers-dp8);
}
