.container {
    margin: 0 0 1rem 0;
}

.pickers {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 16px;
}

.pickers > div {
    width: 45%;
}
