.container {
    margin: 0 0 1rem 0;
}

.pickers {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 16px;
    margin-bottom: 16px;
}

.pickers > div {
    width: 45%;
}

.periodError {
    color: #bb470d;
    font-weight: bold;
    margin-top: 8px;
}
