.container {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-direction: row;
    justify-content: left;
}

.label {
    font-size: 14px;
}

.separator {
    align-self: flex-end;
    margin-bottom: 8px;
}
