.vegetationIndexButtons {
    position: absolute;
    top: -6px;
    left: 10px;
    z-index: 1000;
}

.vegetationIndexButtons button {
    margin-right: 5px;
}

.description {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
}
