.facility {
    text-align: center;
    padding-bottom: 40px;
}

.facility h2 {
    font-size: 18px;
    color: rgb(51, 51, 51);
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
}

.description {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
}
